.container {
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    // outline: 3px darkred dashed;
    
    @media screen and (min-width: 375px) {
        width: 375px;
    }

    @media screen and (min-width: 1210px) {
        width: 1210px;
    }
}