$title-color: #000;
$pink-dark: #945069;
$pink-light: #f2d4dc;
$cyan-dark: #2b788b;
$cyan-light: #c3dce3;
$grey-light: #f6f5f4;
$grey-medium: #e0e0e0;
$grey-icon: #bababa;
$grey-dark: #757575;
$secondary-green: #639b6d;
$secondary-yellow: #c4a24c;
$secondary-orange: #cb5b43;
$secondary-red: #a95151;
$secondary-pink: #a15993;
$secondary-cyan: #5996a5;
