* {
  margin: 0;
  padding: 0;
}

*:focus {
  outline: none;
}

img {
  width: 100%;
  height: auto;
  line-height: 0;
  display: block;
}

a {
  text-decoration-line: none;
}

ul {
  list-style-type: none;
}

button {
  cursor: pointer;
  display: block;
  border: none;
}

html {
  scroll-behavior: smooth;
}

* {
  transition: all 0.3s cubic-bezier(0.16, 0.57, 0.53, 0.99);
}

body {
  font-family: "Montserrat";
  background-color: #fff;
}

*::-moz-selection {
  background-color: #2b788b;
  color: #fff;
}

*::selection {
  background-color: #2b788b;
  color: #fff;
}

.container {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 375px) {
  .container {
    width: 375px;
  }
}
@media screen and (min-width: 1210px) {
  .container {
    width: 1210px;
  }
}

.header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  padding: 9px 0;
  box-shadow: 0px -1px 0px 0px #E0E0E0 inset;
  background-color: #f6f5f4;
  z-index: 10;
}
.header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__menu {
  background-color: transparent;
  line-height: 0;
}
.header__burger {
  stroke: #000;
}
.header__menu:hover .header__burger {
  stroke: #2b788b;
}
.header__logo {
  color: #000;
  text-align: right;
  font-family: "Dela Gothic One";
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.32px;
  width: 146px;
  text-align: right;
}
.header__list {
  display: none;
}
.header__item {
  position: relative;
}
.header__sublist {
  transition: all 0.3s cubic-bezier(0.16, 0.57, 0.53, 0.99) 1s;
  position: absolute;
  left: -6px;
  top: 37px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  width: 215px;
  padding: 20px;
  gap: 20px;
  border-radius: 14px;
  background: #fff;
  box-shadow: 0px 343.472px 343.472px 0px rgba(52, 41, 39, 0.08), 0px 183.185px 183.185px 0px rgba(52, 41, 39, 0.12), 0px 91.593px 91.593px 0px rgba(52, 41, 39, 0.04), 0px 68.694px 68.694px 0px rgba(52, 41, 39, 0.04), 0px 11.449px 68.694px 0px rgba(52, 41, 39, 0.04), 0px 11.449px 11.449px 0px rgba(52, 41, 39, 0.04);
}
.header__item:hover .header__sublist, .header__sublist:hover {
  opacity: 1;
}
.header__address {
  display: flex;
  gap: 2px;
  align-items: center;
}
.header__info {
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
.header__pointer {
  fill: #757575;
}
.header__address:hover .header__info {
  color: #000;
}
.header__address:hover .header__pointer {
  fill: #000;
}
.header__user {
  display: flex;
  align-items: center;
  gap: 4px;
}
.header__avatar {
  color: #2b788b;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.48px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #c3dce3;
}
.header__name {
  color: #757575;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.48px;
}
.header__acordion {
  fill: none;
  stroke: #757575;
}
.header__sign {
  display: none;
}
@media screen and (min-width: 1210px) {
  .header {
    padding: 24px 0;
  }
  .header .container {
    justify-content: start;
  }
  .header__menu {
    display: none;
  }
  .header__logo {
    width: auto;
    font-size: 20.861px;
    letter-spacing: -0.417px;
  }
  .header__list {
    display: flex;
    border-left: 1px solid #e0e0e0;
    padding-left: 30px;
    margin-left: 30px;
    gap: 30px;
  }
  .header__link {
    display: flex;
    align-items: center;
    color: #757575;
    font-size: 16px;
    font-weight: 600;
    line-height: 1.4;
    letter-spacing: -0.64px;
  }
  .header__link:hover {
    color: #2b788b;
  }
  .header__link--accent {
    color: #000;
  }
  .header__link:hover .header__arrow {
    stroke: #2b788b;
  }
  .header__link--accent .header__arrow {
    stroke: #000;
  }
  .header__arrow {
    fill: none;
    stroke: #757575;
  }
  .header__user {
    gap: 0;
    margin-left: auto;
  }
  .header__avatar {
    line-height: 1.4;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    background: #c3dce3;
    font-size: 16px;
    letter-spacing: -0.64px;
    margin-right: 10px;
  }
  .header__name {
    font-size: 16px;
    letter-spacing: -0.64px;
    margin-right: 30px;
  }
  .header__acordion {
    display: none;
  }
  .header__sign {
    display: flex;
    align-items: center;
    gap: 2px;
  }
  .header__text {
    color: #000;
    font-size: 16px;
    font-weight: 700;
    line-height: 1;
    letter-spacing: -0.64px;
  }
  .header__sign:hover .header__text {
    color: #2b788b;
  }
  .header__sign:hover .header__icon {
    fill: #2b788b;
  }
}
.footer {
  padding: 40px 0;
  background-color: #f6f5f4;
}
.footer__links {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  padding-bottom: 20px;
  border-bottom: 1px #e0e0e0 solid;
  margin-bottom: 20px;
}
.footer__list {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 98px;
}
.footer__link {
  color: #757575;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
}
.footer__link:hover {
  color: #000;
}
.footer__users {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 117px;
}
.footer__meadias {
  display: flex;
  gap: 30px;
  justify-content: center;
  margin-bottom: 20px;
}
.footer__icon {
  fill: #bababa;
}
.footer__icon:hover {
  fill: #000;
}
.footer__copy {
  color: #757575;
  font-size: 10px;
  font-weight: 600;
  line-height: 1;
  text-align: center;
}
.footer__contact {
  color: #757575;
  text-decoration-line: underline;
}
.footer__contact:hover {
  color: #000;
}

@media screen and (min-width: 1210px) {
  .footer__links {
    padding: 0;
    padding-bottom: 20px;
    align-items: center;
  }
  .footer__list {
    flex-direction: row;
    gap: 30px;
    width: auto;
  }
  .footer__link {
    font-size: 14px;
  }
  .footer__users {
    flex-direction: row;
    gap: 30px;
    width: auto;
  }
  .footer__block {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer__meadias {
    justify-content: start;
    margin-bottom: 0;
  }
  .footer__run {
    display: block;
    line-height: 0;
  }
  .footer__icon {
    fill: #bababa;
  }
  .footer__icon:hover {
    fill: #000;
  }
  .footer__copy {
    font-size: 12px;
  }
  .footer__contact {
    color: #757575;
    text-decoration-line: underline;
  }
  .footer__contact:hover {
    color: #000;
  }
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.no-scroll {
  overflow: hidden;
}

.menu {
  background-color: #f6f5f4;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
}
.menu__header {
  padding: 9px 0;
  box-shadow: 0px -1px 0px 0px #E0E0E0 inset;
}
.menu__header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu__menu {
  background-color: transparent;
  line-height: 0;
}
.menu__burger {
  stroke: #000;
}
.menu__menu:hover .menu__burger {
  stroke: #2b788b;
}
.menu__logo {
  color: #000;
  text-align: right;
  font-family: "Dela Gothic One";
  font-size: 16px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.32px;
  width: 146px;
  text-align: right;
}
.menu__user {
  display: flex;
  align-items: center;
  gap: 4px;
}
.menu__avatar {
  color: #2b788b;
  font-size: 12px;
  font-weight: 700;
  line-height: 1.4;
  letter-spacing: -0.48px;
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background: #c3dce3;
}
.menu__name {
  color: #757575;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.48px;
}
.menu__acordion {
  fill: none;
  stroke: #757575;
}
.menu__content {
  height: calc(100vh - 50px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.menu__list {
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.menu__link {
  display: block;
  text-align: center;
  color: #757575;
  font-size: 16px;
  font-weight: 600;
  line-height: 1;
}
.menu__link:hover {
  color: #2b788b;
}
.menu__link--accent {
  color: #000;
}

.hero {
  background-color: #f6f5f4;
  padding: 90px 0 20px;
}
.hero__subtitle {
  color: #2b788b;
  text-align: center;
  font-size: 12px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: 1.68px;
  text-transform: uppercase;
  margin-bottom: 8px;
}
.hero__title {
  color: #000;
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 32px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -1.28px;
  margin-bottom: 12px;
}
.hero__desc {
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.56px;
  margin-bottom: 20px;
}
.hero__btn {
  padding: 12px 20px;
  margin: 0 auto;
  margin-bottom: 20px;
  border-radius: 100px;
  background: #c3dce3;
  color: #2b788b;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.56px;
}
.hero__btn:hover {
  color: #fff;
  background-color: #2b788b;
}
.hero__list {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}
.hero__item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.hero__item:nth-child(1) {
  padding-right: 40px;
  margin-right: 40px;
  border-right: 1px solid #e0e0e0;
}
.hero__header {
  display: flex;
  gap: 2px;
  align-items: center;
  margin-bottom: 3px;
}
.hero__icon {
  fill: #2b788b;
}
.hero__num {
  color: #000;
  font-family: "Dela Gothic One";
  font-size: 20px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.4px;
}
.hero__plus {
  color: #2b788b;
}
.hero__info {
  color: #757575;
  font-size: 12px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.48px;
}
@media screen and (min-width: 1210px) {
  .hero {
    overflow: hidden;
    padding: 188px 0 135px;
  }
  .hero .container {
    position: relative;
  }
  .hero__subtitle {
    text-align: left;
    margin-bottom: 24px;
    font-size: 16px;
    letter-spacing: 2.24px;
  }
  .hero__title {
    text-align: left;
    line-height: 1.2;
    margin-bottom: 30px;
    font-size: 56px;
    letter-spacing: -2.24px;
    width: 530px;
  }
  .hero__desc {
    text-align: left;
    margin-bottom: 32px;
    font-family: Montserrat;
    font-size: 18px;
    letter-spacing: -0.72px;
    width: 395px;
  }
  .hero__btn {
    padding: 14px 22px;
    margin: 0;
    margin-bottom: 48px;
    font-size: 16px;
    line-height: 1;
    letter-spacing: -0.64px;
  }
  .hero__list {
    justify-content: start;
    margin-bottom: 0;
  }
  .hero__item:nth-child(1) {
    padding-right: 48px;
    margin-right: 48px;
  }
  .hero__header {
    gap: 10px;
  }
  .hero__icon {
    width: 24px;
    height: 30px;
  }
  .hero__num {
    color: #000;
    font-size: 40px;
    line-height: 1;
    letter-spacing: -0.8px;
  }
  .hero__plus {
    color: #2b788b;
  }
  .hero__info {
    color: #757575;
    font-size: 16px;
    letter-spacing: -0.64px;
  }
  .hero__img {
    width: 933px;
    height: 601px;
    position: absolute;
    top: 14px;
    left: 500px;
  }
}
.learn {
  padding: 40px 0;
}
.learn__img {
  margin-bottom: 20px;
}
.learn__title {
  color: #000;
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.learn__desc {
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.56px;
  margin-bottom: 63px;
}
.learn__list {
  display: flex;
  padding-left: 10px;
  justify-content: space-between;
  gap: 20px;
}
.learn__item {
  position: relative;
  height: 112px;
  border-radius: 14px;
  padding-top: 84px;
  display: flex;
  justify-content: center;
}
.learn__item:nth-child(1) {
  width: 114px;
  background-color: #f2d4dc;
}
.learn__item:nth-child(2) {
  width: 172px;
  background-color: #c3dce3;
}
.learn__icon {
  position: absolute;
  top: -33px;
  height: 106px;
  left: 50%;
  transform: translate(-50%, 0);
}
.learn__item:nth-child(1) .learn__icon {
  width: 131px;
}
.learn__item:nth-child(2) .learn__icon {
  width: 91px;
}
.learn__link {
  display: flex;
  gap: 2px;
  align-items: center;
}
.learn__info {
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.56px;
}
.learn__item:nth-child(1) .learn__info {
  color: #945069;
}
.learn__item:nth-child(2) .learn__info {
  color: #2b788b;
}
.learn__arrow {
  min-width: 8px;
  min-height: 8px;
}
.learn__item:nth-child(1) .learn__arrow {
  fill: #945069;
}
.learn__item:nth-child(2) .learn__arrow {
  fill: #2b788b;
}

@media screen and (min-width: 1210px) {
  .learn {
    padding: 78px 0;
  }
  .learn .container {
    display: flex;
    gap: 120px;
    align-items: center;
  }
  .learn__img {
    margin-bottom: 0;
    width: 580px;
    height: 445px;
  }
  .learn__title {
    text-align: left;
    margin-bottom: 30px;
    font-size: 48px;
    letter-spacing: -1.92px;
  }
  .learn__desc {
    text-align: left;
    margin-bottom: 64px;
    font-size: 18px;
    letter-spacing: -0.72px;
    width: 396px;
  }
  .learn__list {
    padding-left: 0;
    justify-content: start;
    gap: 20px;
  }
  .learn__item {
    position: relative;
    height: 112px;
    border-radius: 14px;
    padding-top: 82px;
    display: flex;
    justify-content: center;
  }
  .learn__item:nth-child(1) {
    width: 130px;
    background-color: #f2d4dc;
  }
  .learn__item:nth-child(2) {
    width: 172px;
    background-color: #c3dce3;
  }
  .learn__icon {
    position: absolute;
    top: -33px;
    height: 106px;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .learn__item:nth-child(1) .learn__icon {
    width: 131px;
  }
  .learn__item:nth-child(2) .learn__icon {
    width: 91px;
  }
  .learn__link {
    display: flex;
    gap: 2px;
    align-items: center;
  }
  .learn__info {
    font-size: 16px;
    letter-spacing: -0.64px;
  }
  .learn__item:nth-child(1) .learn__info {
    color: #945069;
  }
  .learn__item:nth-child(2) .learn__info {
    color: #2b788b;
  }
  .learn__arrow {
    min-width: 9px;
    min-height: 9px;
  }
  .learn__item:nth-child(1) .learn__arrow {
    fill: #945069;
  }
  .learn__item:nth-child(2) .learn__arrow {
    fill: #2b788b;
  }
}
.increase {
  background-color: #f6f5f4;
  padding-top: 40px;
}
.increase__title {
  color: #000;
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.increase__desc {
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.56px;
  max-width: 306px;
  margin: 0 auto;
  margin-bottom: 16px;
}
.increase__btn {
  max-width: -moz-max-content;
  max-width: max-content;
  color: #2b788b;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.56px;
  border-radius: 100px;
  background: #c3dce3;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 2px;
  margin: 0 auto;
  margin-bottom: 8px;
}
.increase__btn:hover {
  color: #fff;
  background-color: #2b788b;
}
.increase__icon {
  fill: #2b788b;
}
.increase__btn:hover .increase__icon {
  fill: #fff;
}
@media screen and (min-width: 1210px) {
  .increase {
    background-color: #f6f5f4;
    padding-top: 26px;
  }
  .increase .container {
    display: flex;
    align-items: center;
    gap: 25px;
    justify-content: end;
  }
  .increase__text {
    width: 475px;
  }
  .increase__title {
    text-align: left;
    margin-bottom: 30px;
    font-size: 48px;
    letter-spacing: -1.92px;
  }
  .increase__desc {
    text-align: left;
    max-width: 396px;
    margin: 0;
    margin-bottom: 34px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  .increase__btn {
    padding: 14px 22px;
    margin: 0;
    font-size: 16px;
    letter-spacing: -0.64px;
  }
  .increase__icon {
    width: 9px;
    height: 9px;
  }
}
.watch {
  padding: 40px 0;
}
.watch__img {
  margin-bottom: 20px;
}
.watch__title {
  color: #000;
  text-align: center;
  font-family: "Dela Gothic One";
  font-size: 24px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: -0.96px;
  margin-bottom: 8px;
}
.watch__desc {
  color: #757575;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.4;
  letter-spacing: -0.56px;
  margin-bottom: 16px;
}
.watch__btn {
  max-width: -moz-max-content;
  max-width: max-content;
  display: flex;
  padding: 12px 20px;
  align-items: center;
  gap: 2px;
  color: #2b788b;
  font-size: 14px;
  font-weight: 700;
  line-height: 1;
  letter-spacing: -0.56px;
  border-radius: 100px;
  background: #c3dce3;
  margin: 0 auto;
}
.watch__btn:hover {
  color: #fff;
  background-color: #2b788b;
}
.watch__icon {
  fill: #2b788b;
}
.watch__btn:hover .watch__icon {
  fill: #fff;
}

@media screen and (min-width: 1210px) {
  .watch {
    padding: 95px 0;
  }
  .watch .container {
    display: flex;
    gap: 20px;
    align-items: center;
  }
  .watch__img {
    margin-bottom: 0;
    width: 680px;
  }
  .watch__title {
    text-align: left;
    letter-spacing: -0.96px;
    margin-bottom: 30px;
    font-size: 48px;
    letter-spacing: -1.92px;
  }
  .watch__desc {
    text-align: left;
    letter-spacing: -0.56px;
    margin-bottom: 34px;
    width: 396.886px;
    font-size: 18px;
    letter-spacing: -0.72px;
  }
  .watch__btn {
    padding: 14px 22px;
    font-size: 16px;
    letter-spacing: -0.56px;
    margin: 0;
  }
  .watch__icon {
    width: 9px;
    height: 9px;
  }
}/*# sourceMappingURL=main.css.map */