.increase {
    background-color: $grey-light;
    padding-top: 40px;

    &__title {
        color: $dark-color;
        text-align: center;
        font-family: "Dela Gothic One";
        font-size: 24px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: -0.96px;
        margin-bottom: 8px;
    }

    &__desc {
        color: $grey-dark;
        text-align: center;
        font-size: 14px;
        font-weight: 600;
        line-height: 1.4;
        letter-spacing: -0.56px;
        max-width: 306px;
        margin: 0 auto;
        margin-bottom: 16px;
    }

    &__btn {
        max-width: max-content;
        color: $cyan-dark;
        font-size: 14px;
        font-weight: 700;
        line-height: 1;
        letter-spacing: -0.56px;
        border-radius: 100px;
        background: $cyan-light;
        display: flex;
        padding: 12px 20px;
        align-items: center;
        gap: 2px;
        margin: 0 auto;
        margin-bottom: 8px;

        &:hover {
            color: $white;
            background-color: $cyan-dark;
        }
    }

    &__info {}

    &__icon {
        fill: $cyan-dark;
    }

    &__btn:hover &__icon{
        fill: $white;
    }
    
    &__img {}
}

@media screen and (min-width: 1210px) {
    .increase {
        background-color: $grey-light;
        padding-top: 26px;

        & .container {
            display: flex;
            align-items: center;
            gap: 25px;
            justify-content: end;
        }

        &__text {
            width: 475px;
        }

        &__title {
            text-align: left;
            margin-bottom: 30px;
            font-size: 48px;
            letter-spacing: -1.92px;
        }

        &__desc {
            text-align: left;
            max-width: 396px;
            margin: 0;
            margin-bottom: 34px;
            font-size: 18px;
            letter-spacing: -0.72px;
        }

        &__btn {
            padding: 14px 22px;
            margin: 0;
            font-size: 16px;
            letter-spacing: -0.64px;
        }

        &__info {}

        &__icon {
            width: 9px;
            height: 9px;
        }

        &__img {}
    }
}